<% include ../views/partials/header %>
<a href="/">Go Back</a>
<h1><i class="fa fa-user"></i> <%= name %></h1>

<%if (selling.length > 0) { %>
    <ul class="list-group">
        <% selling.forEach(function(merchant) { %>
            <li class="list-group-item"><%= merchant.name %></li>
        <% }); %>
    </ul>
<% } %>

<h3>Add Merchant</h3>
<form method="POST" action="/selling/connect">
        <input type="hidden" name="id" value="<%= id %>">
        <input type="hidden" name="name2" value="<%= name %>">
        <input type="text" name="name1" placeholder="Name">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
</form>
<br>

<% include ../views/partials/footer %>
